<a href="https://colab.research.google.com/github/zach-gousseau/syde675-project/blob/main/models/675_Project_preprocess_monthly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import modules and functions

In [ ]:
from google.colab import drive

import pandas as pd
import numpy as np
from tempfile import TemporaryFile

# Mount Google Drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

# Import Data

In [ ]:
path = '/content/drive/MyDrive/SYDE 675/Project/Data/Arctic_domain_mean_monthly_1979_2018.csv'

In [ ]:
#load data

lstm_df = pd.read_csv(path)
print(lstm_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               480 non-null    object
 1   wind_10m           480 non-null    float64
 2   specific_humidity  480 non-null    float64
 3   LW_down            480 non-null    float64
 4   SW_down            480 non-null    float64
 5   rainfall           480 non-null    float64
 6   snowfall           480 non-null    float64
 7   sosaline           480 non-null    float64
 8   sst                480 non-null    float64
 9   t2m                480 non-null    float64
 10  surface_pressure   480 non-null    float64
 11  sea_ice_extent     480 non-null    float64
dtypes: float64(11), object(1)
memory usage: 45.1+ KB
None

In [ ]:
lstm_df.head()

,Date,wind_10m,specific_humidity,LW_down,SW_down,rainfall,snowfall,sosaline,sst,t2m,surface_pressure,sea_ice_extent
0,1979-01,5.531398,0.811961,186.687054,3.127880,1.009872,0.892319,33.341556,273.355237,250.388101,984.633032,15604191.0
1,1979-02,5.328020,0.688896,174.794571,18.541594,0.920831,0.781347,33.365164,273.121885,247.071202,983.980418,16378929.0
2,1979-03,5.432511,0.916124,190.741933,67.690429,0.983327,0.855266,33.365938,273.088099,252.954138,985.140468,16521089.0
3,1979-04,4.792836,1.272056,212.937925,156.223674,0.890723,0.705203,33.350408,273.126062,259.557456,989.314698,15561238.0
4,1979-05,4.819028,2.239776,253.690478,230.950833,1.201308,0.688723,33.295768,273.393551,269.375118,984.483658,14085613.0

In [ ]:
lstm_df.tail()

,Date,wind_10m,specific_humidity,LW_down,SW_down,rainfall,snowfall,sosaline,sst,t2m,surface_pressure,sea_ice_extent
475,2018-08,4.743874,4.882701,308.827087,127.484271,2.129987,0.241098,33.232772,278.534500,279.158164,978.264282,5622998.0
476,2018-09,5.232015,3.581254,283.515381,69.458786,1.957572,0.600476,33.256054,277.887405,274.840139,980.208681,4834953.0
477,2018-10,5.516410,2.440121,257.145101,25.108110,1.784562,0.973192,33.321765,276.161004,269.065448,977.742135,6824601.0
478,2018-11,5.430916,1.440217,220.909249,4.937239,1.320885,0.904150,33.376158,274.805928,259.133665,983.425500,10279618.0
479,2018-12,5.647007,1.157657,205.648747,1.164422,1.240499,0.933757,33.437008,274.152202,254.932846,979.178390,12092694.0

In [ ]:
#drop unwanted variables and retain important features
lstm_df = lstm_df.drop(['Date'], axis=1)

In [ ]:
narray = np.array(lstm_df)
print(narray.shape)

(480, 11)

In [ ]:
#assign last column to target variable
target = narray[:,-1]

In [ ]:
# convert an array of values into a dataset matrix
def reshape_features(dataset, timesteps=1):
    print(dataset.shape)
    X = dataset.reshape((int(dataset.shape[0]/timesteps)), timesteps, dataset.shape[1])
    return X

timesteps = 1
narray = reshape_features(narray, timesteps)

(480, 11)

In [ ]:
print(narray.shape)
print(target.shape)

(480, 1, 11)
(480,)

In [ ]:
# Saving features and target in numpy

# data = TemporaryFile()
# np.save('/.../monthly_features.npy', narray)
# np.save('/.../monthly_target.npy', target)